@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {

    background-image: url("public/low-poly-grid-haikei (1).svg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 2rem 0 0 0;
}