@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-image: url("public/low-poly-grid-haikei (1).svg");
    background-position: center;
    background-size: cover;
}